@model eHotel.Models.Booking

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
